.tfr-c-white {
  color: var(--tfr-white);
}

.tfr-c-brand {
  color: var(--tfr-brand-color);
}

.tfr-c-brand-bg {
  background-color: var(--tfr-brand-color);
}

.tfr-c-black {
  color: var(--tfr-black);
}

.tfr-c-black-o5 {
  color: rgba(0, 0, 0, 0.5);
}

.tfr-c-red {
  color: var(--tfr-red);
}
