.tfr-home-button-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.tfr-home-button-container > button {
  height: 60px;
  width: 200px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}

.tfr-home-button-container > button:hover {
  background-color: rgb(230, 230, 230);
}

*[data-tfr='hidden'] {
  display: none;
}

/* Modal */
.tfr-modal {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
  display: flex;
}

.tfr-modal-content {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.tfr-modal-content-flex {
  display: flex;
  align-items: center;
}

.tfr-modal-content-container {
  background-color: #ffffff;
  max-width: 850px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #434343;
  box-shadow: 0px 6px 6px #00000029;
  line-height: normal;
  max-height: 100vh;
  overflow: auto;
}

/* Close button */
#tfr-close-container {
  padding-right: 10px;
}

.tfr-close-container {
  text-align: end;
}

.tfr-close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  width: 50px;
  height: 50px;
}

.tfr-close:hover,
.tfr-close:focus {
  color: #000;
  text-decoration: none;
}

/* */
.tfr-cursor:hover {
  cursor: pointer;
}

.tfr-underline {
  text-decoration: underline;
}

.tfr-standard-button {
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  height: 43px;
  width: 138px;
}

.tfr-logo-container {
  display: flex;
  align-items: center;
}

.tfr-modal-title-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tfr-girl-clothes {
  width: 253px;
  height: 316px;
  display: inline-block;
}

.tfr-t-a-center {
  text-align: center;
}

.tfr-w-70-p {
  width: 70%;
}

.tfr-w-80-p {
  width: 80%;
}

.tfr-w-85-p {
  width: 85%;
}

.tfr-w-150 {
  width: 150px;
}

.tfr-h-150 {
  height: 150px;
}


.tfr-d-block {
  display: block;
}

.tfr-d-flex {
  display: flex;
}

.tfr-how-it-works-item {
  display: flex;
  align-items: center;
  justify-items: center;
}

.tfr-try-on-content {
  margin-left: 60px;
}

#tfr-tryon-image {
  max-width: 30vw;
}

.progress-bar {
  height: 10px;
  width: 55%;
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  margin: 0 auto;
  margin-top: 15px;
}

.progress-bar-fill {
  display: block;
  height: 100%;
  background-color: #209da7;
  animation-name: progress;
  animation-duration: 120s;
  text-align: center;
  font-size: 16px;
  color: white;
  transition: width 600ms linear;
}

#tfr-video {
  height: 100%;
  max-width: 350px;
  max-height: 350px;
}

.tfr-logo-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-height: 400px;
  max-width: 860px;
  padding: 20px;
}

.tfr-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tfr-qr-code {
  width: 200px;
}

.tfr-space-above {
  margin-top: 10px;
}

.tfr-max-w-600 {
  max-width: 600px;
  margin: auto;
}

#tfr-qr-border-box {
  align-items: center;
  border: 2px solid var(--tfr-brand-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  margin-left: 20px;
  padding: 0 30px;
  width: 300px;
}

.tfr-mobile-logo {
  height: 60px;
}

#email-input,
#password-input {
  font-size: 16px;
}

.tfr-door-icon,
.tfr-user-icon {
  color: #209da7;
}

.tfr-flex {
  display: flex;
}

.tfr-gap {
  gap: 4px;
}

.tfr-items-center {
  align-items: center;
}

.tfr-mb-2 {
  margin-bottom: 8px;
}

#tfr-logged-out-overlay-container {
  position: relative;
}

#tfr-logged-out-overlay {
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  left: 0;
  line-height: 16px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.tfr-slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tfr-slider {
  accent-color: var(--tfr-brand-color);
}
