@media screen and (max-width: 702px) {
  .tfr-modal-title-logo-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .tfr-modal-content-container {
    height: auto;
    border-radius: 10px;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 599px) {
  #tfr-size-recommendations {
    width: calc(100vw - 30px) !important;
  }

  .tfr-mobile-small-text {
    font-size: 12px;
  }

  .tfr-mobile-hidden {
    display: none;
  }

  .tfr-modal-content {
    overflow: hidden;
  }

  .tfr-modal-content-container {
    min-height: 100vh;
    max-height: none;
    min-width: 100vw;
    max-width: 100vw;
  }

  .trf-logo-title {
    margin-bottom: 10px;
  }

  .tfr-modal-content-flex {
    overflow: auto;
  }
}

@media screen and (max-width: 500px) {
  .tfr-fieldset {
    width: 90%;
  }
  .tfr-how-it-works-item {
    flex-direction: column;
  }
  .tfr-try-on-content {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media screen and (max-height: 800px) {
  .tfr-video-responsive {
    height: 280px !important;
  }
}
