@media screen and (max-width: 702px) {
  .tfr-modal-title-logo-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .tfr-modal-content-container {
    height: auto;
    border-radius: 10px;
  }

  .tfr-logo-box {
    height: 380px;
  }
}

@media screen and (max-width: 599px) {
  .tfr-mobile-hidden {
    display: none;
  }

  .trf-logo-title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .tfr-fieldset {
    width: 90%;
  }
  .tfr-how-it-works-item {
    flex-direction: column;
  }
  .tfr-try-on-content {
    margin-left: 0px;
    margin-top: 20px;
  }
}
