/* Margin: */

.tfr-mt-10 {
  margin-top: 10px;
}

.tfr-mt-20 {
  margin-top: 20px;
}

.tfr-mt-15 {
  margin-top: 15px;
}

.tfr-mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.tfr-mb-40 {
  margin-bottom: 40px;
}

.tfr-mb-20 {
  margin-bottom: 20px;
}

.tfr-mr-10 {
  margin-right: 10px;
}

.tfr-mr-15 {
  margin-right: 15px;
}

.tfr-mt-50 {
  margin-top: 50px;
}

.tfr-mt-60 {
  margin-top: 60px;
}

.tfr-mb-60 {
  margin-bottom: 60px;
}

.tfr-mr-20 {
  margin-right: 20px;
}

.tfr-mt-15-p {
  margin-top: 15%;
}

.tfr-mb-13-p {
  margin-bottom: 13%;
}

.tfr-m-h-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Padding */
.tfr-pt-20 {
  padding-top: 20px;
}

.tfr-pb-50 {
  padding-bottom: 50px;
}

.tfr-p-20 {
  padding: 20px;
}

.tfr-pr-20 {
  padding-right: 20px;
}

.tfr-pl-20 {
  padding-left: 20px;
}

.tfr-pb-7-p {
  padding-bottom: 7%;
}
