/* International Telephone Input Css */
.flag-container {
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1px;
  right: auto;
  left: 0;
}

.flag-container:hover {
  cursor: pointer;
}

.selected-flag {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 6px 0 8px;
}

.flag.bd {
  height: 12px;
  background-position: -418px 0;
}

.arrow {
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #555;
}

.arrow-up {
  border-top: none;
  border-bottom: 6px solid #555;
}

.country-list {
  border-radius: 5px;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow:
    0px 8px 10px 1px rgb(57 64 78 / 70%),
    0px 3px 14px 2px rgb(57 64 78 / 70%),
    0px 5px 5px -3px rgb(57 64 78 / 70%);
  background-color: #ffffff;
  width: 100%;
  width: auto;
  max-height: 500px;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.country-list.active {
  display: inline-block;
}

.country {
  padding: 5px 26px 5px 15px;
  outline: 0;
}

.country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(0 0 0 / 12%);
}

.country.highlight {
  background-color: #c7cace;
}

.flag-box {
  display: inline-block;
  width: 20px;
}

.country-name,
.flag-box {
  margin-right: 6px;
}

.country-name,
.dial-code,
.flag-box {
  vertical-align: middle;
}
