name: Deploy To Dev

on:
  pull_request_target:
    types:
      - closed
  workflow_dispatch:
    inputs:
      workflow_dispatch_version_label:
        description: "Version type"
        required: true
        type: choice
        options:
          - major
          - minor
          - patch

permissions:
  id-token: write
  contents: write

jobs:
  get_version_label:
    uses: ./.github/workflows/get-version-label.yaml
    with:
      workflow_dispatch_version_label: ${{ github.event.inputs.workflow_dispatch_version_label }}
  build:
    needs: [get_version_label]
    if: needs.get_version_label.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: main

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Setup Git
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

      - name: Get Version Label
        id: get_version_label
        run: echo "version_label=${{ needs.get_version_label.outputs.version_label }}" >> $GITHUB_OUTPUT

      - name: NPM Version
        run: npm version "${{ steps.get_version_label.outputs.version_label }}"

      - name: Get Version
        id: get_version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Build
        run: |
          echo "VERSION=${{ steps.get_version.outputs.version }}" >> $GITHUB_ENV
          envsubst < .env.development > .env
          npm run build

      - name: Push Version
        env:
          GITHUB_TOKEN: ${{ secrets.SDK_PUSH_PAT}}
        run: |
          git push origin main --follow-tags

      - name: Publish to npm (next)
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm publish --access public --tag next --verbose
