name: Semantic Versioning
on:
  pull_request:
    branches:
      - main
    types: [opened, edited, labeled, unlabeled, synchronize]
  workflow_call:
    outputs:
      version_label:
        description: the major, minor or patch version label
        value: ${{ jobs.get_version_label.outputs.version_label }}
permissions:
  contents: write

jobs:
  get_version_label:
    runs-on: ubuntu-latest
    outputs:
      version_label: ${{ steps.get_version_label.outputs.version_label }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Require patch/minor/major label
        id: get_version_label
        uses: actions/github-script@v7
        with:
          script: |
            const allowed = ['patch', 'minor', 'major', 'chore'];
            const versionLabels = context.payload.pull_request.labels.map(l => l.name.toLowerCase()).filter(label => allowed.includes(label));

            if (versionLabels.length === 0) {
              core.setFailed(`PR must contain one of the version labels: ${allowed.join(', ')}`);
            } else if (versionLabels.length > 1) {
              core.setFailed(`PR contains multiple version labels: ${versionLabels.join(', ')}. Only one of ${allowed.join(', ')} is allowed.`);
            } else {
              core.setOutput('version_label', versionLabels[0]);
              core.info(`version_label: ${versionLabels[0]}`);
            }
