name: Production Release

on:
  release:
    types: [released]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: |
          echo "VERSION=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
           envsubst < .env.production > .env
           npm run build:prod

      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm publish --access public --tag latest --verbose
